<div class="container" >
    <div class="row">
     <table>
       <tr>
         <th style="width: 40%"><b>Customer Name</b></th>
         <th style="width: 20%"><b>Customer Number</b></th>
         <th style="width: 40%"><b>Actions</b></th>
       </tr>
       <tr *ngFor="let customer of customers">
         <td>{{customer.name}}</td>
         <td>{{customer.customerNumber}}</td>
         <td><button routerLink="/customers/{{customer.customerNumber}}" type="button" class="btn btn-primary me-2">Details</button>
            <button routerLink="/customer/edit/{{customer.customerNumber}}" type="button" class="btn btn-warning me-2">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteCustomer(customer.customerNumber)">Delete</button>
         </td>
       </tr>
     </table>
   </div>
 </div>